<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCEL</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <header class="d-flex justify-content-center bg-white position-top">
        <img src="{{asset("/images/logo.png")}}" alt="logo" class="img-fluid" style="width:800px;height:150px">
    </header>
    <div class="w-100 " style="background-color : #0F3170;height: 40px"></div>
    <div class="row mx-0"  style="background-image :url({{asset("/images/bg1.png")}}) ;background-repeat: no-repeat; background-size: cover;min-height: 575px; width: 100%;">
        <div class="col-lg-6 col-md-6"></div>
        <div class="col-lg-6 col-md-6 col-12 px-5 float-end py-5 mt-5" style="">
            <div class="px-5 mx-5 mt-5 border rounded rounded-3 shadow-lg py-3 opacity-100" style="background-color: #0F3170;">
                <form method="post" class="">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    {% if app.user %}
                        <div class="mb-3">
                            Connecter en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}
                    <p class="h3 mb-3 font-weight-normal text-center text-white">Connexion</p>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" placeholder="nom d'utilisateur" class="form-control my-3" autocomplete="username" required autofocus>
                    <input type="password" name="password" id="inputPassword" placeholder="mot de passe" class="form-control my-3" autocomplete="current-password" required>
                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >
                    <hr>
                    <button class="btn text-white" style="background-color : #FF6002" type="submit">
                        Connexion
                    </button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
