{% extends 'admin.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<div class="container my-3">
    <div class="">
        <div class="card mx-auto">
            <div class="card-header">
                <p class="fw-bold h2 text-center">Vérification</p>
            </div>
            <div class="card-body d-flex flex-column flex-sm-row">
                <div class="flex-fill px-3">
                    
                        <p class="my-0">
                            <span class="">Nombre de votant : </span>
                            <span class="mx-2">{{"  10000"}}</span>
                        </p>
                        <hr>
                        <p class="my-0">
                            <span class="">Suffrage exprimé : </span>
                            <span class="mx-2">{{"  8000"}}</span>
                        </p>
                        <hr>
                        <p class="my-0">
                            <span class="">Bulletin nul : </span>
                            <span class="mx-2">{{"  1000"}}</span>
                        </p>
                        <hr>
                        <p class="my-0">
                            <span class="">Vote oui : </span>
                            <span class="mx-2">{{"  4000"}}</span>
                        </p>
                        <hr>
                        <p class="my-0">
                            <span class="">Vote non : </span>
                            <span class="mx-2">{{"  3000"}}</span>
                        </p>
                        <hr>
                   
                </div>
                <div class="flex-fill px-3">
                    <img src="{{asset("/images/faker450x300.png")}}" alt="#" class="" style="img-fluid ">
                </div>
            </div>
            <div class="card-footer d-flex justify-content-center">
                <a href="#" class="btn btn-lg btn-danger mx-2">Invalider</a>
                <a href="#" class="btn btn-lg btn-success mx-2">Valider</a>
            </div>
        </div>
        <hr class="border-3">
        <div class="table-responsive mx-auto mt-3">
            <p class="text-center text-decoration-underline h3 mb-3">Autres Données</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>IDPV</th>
                        <th>CODE BV</th>
                        <th>VOTANT</th>
                        <th>SUFFRAGE EXP</th>
                        <th>NULL</th>
                        <th>OUI</th>
                        <th>NON</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>BV0001</td>
                        <td>1000</td>
                        <td>8000</td>
                        <td>100</td>
                        <td>400</td>
                        <td>300</td>
                        <td>
                            <a href="#" class="btn btn-success">Voir</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>BV0001</td>
                        <td>1000</td>
                        <td>8000</td>
                        <td>100</td>
                        <td>400</td>
                        <td>300</td>
                        <td>
                            <a href="#" class="btn btn-success">Voir</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>BV0001</td>
                        <td>1000</td>
                        <td>8000</td>
                        <td>100</td>
                        <td>400</td>
                        <td>300</td>
                        <td>
                            <a href="#" class="btn btn-success">Voir</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>BV0001</td>
                        <td>1000</td>
                        <td>8000</td>
                        <td>100</td>
                        <td>400</td>
                        <td>300</td>
                        <td>
                            <a href="#" class="btn btn-success">Voir</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>BV0001</td>
                        <td>1000</td>
                        <td>8000</td>
                        <td>100</td>
                        <td>400</td>
                        <td>300</td>
                        <td>
                            <a href="#" class="btn btn-success">Voir</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>BV0001</td>
                        <td>1000</td>
                        <td>8000</td>
                        <td>100</td>
                        <td>400</td>
                        <td>300</td>
                        <td>
                            <a href="#" class="btn btn-success">Voir</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
{% endblock %}
