{% extends 'admin.html.twig' %}
{% block title %}Superviseur{% endblock %}

{% block body %}
<div class="container mt-3">
    <div class="row shadow rounded">
        <p class="text-center m-0 text-danger fw-bold h4">Ce bureau de vote a deja été traité. Voulez-vous replacer les données existantes ou les conserver ?</p>
        <div class="col-md-6 col-12 p-3">
            <div class="card overflow-scroll border-5 border-danger p-1" style="height:420px;">
                <div class="text-center fw-bold h5 text-white" style="height:20px;">
                    <span>Nouvelles données</span>
                </div>
                <img src="{{asset("/fichier/" ~ new.imagePv )}}" alt="faker" class="w-100 card-image-top" style="height:390px;">
                <div class="card-body">
                    <div class="row my-0">
                        <div class="col-6">Province :
                        </div>
                        <div class="col-6">{{new.commune.departement.province.libelle}}</div>
                    </div>
                    <hr>
                    <div class="row my-0">
                        <div class="col-6">Departement :
                        </div>
                        <div class="col-6">{{new.commune.departement.libelle}}</div>
                    </div>
                    <hr>
                    <div class="row my-0">
                        <div class="col-6">Commune :
                        </div>
                        <div class="col-6">{{new.commune.libelle}}</div>
                    </div>
                    <hr>
                    <div class="row my-0">
                        <div class="col-6">Nombre de votant :
                        </div>
                        <div class="col-6">{{new.votant}}</div>
                    </div>
                    <hr>
                    <div class="row my-0">
                        <div class="col-6">Bulletins nuls :
                        </div>
                        <div class="col-6">{{new.suffrageNul}}</div>
                    </div>
                    <hr>
                    <div class="row my-0">
                        <div class="col-6">Suffrage exprimé :</div>
                        <div class="col-6">{{new.suffrageExprime}}</div>
                    </div> 
                    <hr>
                    <div class="row my-0">
                        <div class="col-6">Vote oui :
                        </div>
                        <div class="col-6">{{new.voteOui}}</div>
                    </div>
                    <hr>
                    <div class="row my-0">
                        <div class="col-6">Vote non :</div>
                        <div class="col-6">{{new.voteNon}}</div>
                    </div>
                </div> 
            </div>
            <div class="pt-2">
                <a href="{{path("changerResultat",{'id':new.id})}}" class="btn btn-danger w-100 h5 fw-bold">REMPLACER</a>
            </div>
        </div>
        <div class="col-md-6 col-12 p-3">
            <div class="card overflow-scroll border-5 border-success p-1 " style="height:425px;">
                <div class="text-center fw-bold h5 text-white" style="height:20px;">
                    <span>Données  existantes</span>
                </div>
                <img src="{{asset("/fichier/" ~ new.imagePv )}}" alt="faker" class="card-image-top" style="height:390px;">
                <div class="card-body">
                    <div class="row my-0">
                        <div class="col-6">Province :
                        </div>
                        <div class="col-6">{{actuel.commune.departement.province.libelle}}</div>
                    </div>
                    <hr>
                    <div class="row my-0">
                        <div class="col-6">Departement :
                        </div>
                        <div class="col-6">{{actuel.commune.departement.libelle}}</div>
                    </div>
                    <hr>
                    <div class="row my-0">
                        <div class="col-6">Commune :
                        </div>
                        <div class="col-6">{{actuel.commune.libelle}}</div>
                    </div>
                    <hr>
                    <div class="row my-0">
                        <div class="col-6">Nombre de votant :
                        </div>
                        <div class="col-6">{{actuel.votant}}</div>
                    </div>
                    <hr>
                    <div class="row my-0">
                        <div class="col-6">Bulletin nul :
                        </div>
                        <div class="col-6">{{actuel.suffrageNul}}</div>
                    </div>
                    <hr>
                    <div class="row my-0">
                        <div class="col-6">Suffrage exprimé :</div>
                        <div class="col-6">{{actuel.suffrageExprime}}</div>
                    </div>
                    
                    <hr>
                    <div class="row my-0">
                        <div class="col-6">Vote oui :
                        </div>
                        <div class="col-6">{{actuel.voteOui}}</div>
                    </div>
                    <hr>
                    <div class="row my-0">
                        <div class="col-6">Vote non :</div>
                        <div class="col-6">{{actuel.voteNon}}</div>
                    </div>
                </div>
            </div>
            <div class="pt-2">
                <a href="{{path("consolider",{'id':new.id})}}" class="btn btn-success w-100 text-white h5 fw-bold" style="">CONSERVER</a>
            </div>
        </div>
        
    </div>
    <div class="my-3">
        <p class="text-center text-decoration-underline h3">ARCHIVE DES DONNEES</p>
        <table class="table table-striped" id="otherTable">
            <thead>
                <tr>
                    <th>Votant</th>
                    <th>Suffrage Exprime</th>
                    <th>Bulletin nul</th>
                    <th>Vote Oui</th>
                    <th>Vote Non</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if other != null %}
                    {% for o in other %}
                        <tr>
                            <td>{{o.votant}}</td>
                            <td>{{o.suffrageExprime}}</td>
                            <td>{{o.suffrageNul}}</td>
                            <td>{{o.voteOui}}</td>
                            <td>{{o.voteNon}}</td>
                            <td></td>
                        </tr>

                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6">Aucune données</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function(){
        console.log(navigator.userAgent);
    });
</script>
{% endblock %}