{% extends 'admin.html.twig' %}
{% block title %}Superviseur{% endblock %}

{% block body %}
<div class="container">
    <div class="row shadow rounded">
        <div class="col-md-6 col-12 p-3">
            <div class="card overflow-scroll" style="height:500px;">
                <div class="card-header text-center">
                    <span>Nouveau Resultat</span>
                </div>
                <img src="{{asset("/fichier/" ~ new.imagePv )}}" alt="faker" class="w-100 card-image-top" style="height:500px; width: 100%">
                <div class="card-body">
                    <div class="row my-0">
                        <div class="col-6">Province :
                        </div>
                        <div class="col-6">{{new.commune.departement.province.libelle}}</div>
                    </div>
                    <hr>
                    <div class="row my-0">
                        <div class="col-6">Departement :
                        </div>
                        <div class="col-6">{{new.commune.departement.libelle}}</div>
                    </div>
                    <hr>
                    <div class="row my-0">
                        <div class="col-6">Commune :
                        </div>
                        <div class="col-6">{{new.commune.libelle}}</div>
                    </div>
                    <hr>
                    <div class="row my-0">
                        <div class="col-6">Nombre de votant :
                        </div>
                        <div class="col-6">{{new.votant}}</div>
                    </div>
                    <hr>
                    <div class="row my-0">
                        <div class="col-6">Bulletins nuls :
                        </div>
                        <div class="col-6">{{new.suffrageNul}}</div>
                    </div>
                    <hr>
                    <div class="row my-0">
                        <div class="col-6">Suffrage exprimé :</div>
                        <div class="col-6">{{new.suffrageExprime}}</div>
                    </div> 
                    <hr>
                    <div class="row my-0">
                        <div class="col-6">Vote oui :
                        </div>
                        <div class="col-6">{{new.voteOui}}</div>
                    </div>
                    <hr>
                    <div class="row my-0">
                        <div class="col-6">Vote non :</div>
                        <div class="col-6">{{new.voteNon}}</div>
                    </div>
                </div> 
            </div>
            <div class="mt-2">
                <a href="{{path("changerResultat",{'id':new.id})}}" class="btn btn-danger float-end">Changer Resultat</a>
            </div>
        </div>
        <div class="col-md-6 col-12 p-3">
            <div class="card overflow-scroll" style="height:500px;">
                <div class="card-header text-center">
                    <span>Resultat actuel</span>
                </div>
                <img src="{{asset("/fichier/" ~ new.imagePv )}}" alt="faker" class="card-image-top">
                <div class="card-body">
                    <div class="row my-0">
                        <div class="col-6">Province :
                        </div>
                        <div class="col-6">{{actuel.commune.departement.province.libelle}}</div>
                    </div>
                    <hr>
                    <div class="row my-0">
                        <div class="col-6">Departement :
                        </div>
                        <div class="col-6">{{actuel.commune.departement.libelle}}</div>
                    </div>
                    <hr>
                    <div class="row my-0">
                        <div class="col-6">Commune :
                        </div>
                        <div class="col-6">{{actuel.commune.libelle}}</div>
                    </div>
                    <hr>
                    <div class="row my-0">
                        <div class="col-6">Nombre de votant :
                        </div>
                        <div class="col-6">{{actuel.votant}}</div>
                    </div>
                    <hr>
                    <div class="row my-0">
                        <div class="col-6">Bulletin nul :
                        </div>
                        <div class="col-6">{{actuel.suffrageNul}}</div>
                    </div>
                    <hr>
                    <div class="row my-0">
                        <div class="col-6">Suffrage exprimé :</div>
                        <div class="col-6">{{actuel.suffrageExprime}}</div>
                    </div>
                    
                    <hr>
                    <div class="row my-0">
                        <div class="col-6">Vote oui :
                        </div>
                        <div class="col-6">{{actuel.voteOui}}</div>
                    </div>
                    <hr>
                    <div class="row my-0">
                        <div class="col-6">Vote non :</div>
                        <div class="col-6">{{actuel.voteNon}}</div>
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <a href="{{path("consolider",{'id':new.id})}}" class="btn btn-primary float-start text-white" style="background-color : #0F3170">Garder Resultat</a>
            </div>
        </div>
        
    </div>
    <div class="my-3">
        <p class="text-center text-decoration-underline h3">Données invalidées</p>
        <table class="table table-striped" id="otherTable">
            <thead>
                <tr>
                    <th>Votant</th>
                    <th>Suffrage Exprime</th>
                    <th>Bulletin nul</th>
                    <th>Vote Oui</th>
                    <th>Vote Non</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if other != null %}
                    {% for o in other %}
                        <tr>
                            <td>{{o.votant}}</td>
                            <td>{{o.suffrageExprime}}</td>
                            <td>{{o.suffrageNul}}</td>
                            <td>{{o.voteOui}}</td>
                            <td>{{o.voteNon}}</td>
                            <td></td>
                        </tr>

                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6">Aucune données</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function(){
        console.log(navigator.userAgent);
    });
</script>
{% endblock %}