  {% extends 'admin.html.twig' %}

{% block title %}OPERATEUR{% endblock %}

{% block body %}
<div class="container-fluid my-3">
    <div class="row">
        <div class="col-lg-6 col-12 px-3 ">
            <img src="/fichier/{{pv.imagePv}}" alt="faker" class="img-fluid shadow-lg rounded-3" style="height:500px; width: 100%" id="monpv">
        </div>
        <div class="col-lg-6 col-12 px-3">
            <div class="px-3 pt-4 pb-1 border rounded shadow-lg text-white" style="background-color : #0F3170;">
                <form action="{{path("saisie")}}" method="POST">
                    <div class="row my-1">
                        <label for="province" class="col-sm-4 col-6 col-form-label">Province :
                        </label>
                        <div class="col-sm-8 col-6">
                            <select class="form-select" name="province" id="province" required>
                                <option disabled selected>Choisir une province</option>
                            </select>
                        </div>

                    </div>
                    <div class="row my-1">
                        <label for="departement" class="col-sm-4 col-6 col-form-label">Departement : </label>
                        <div class="col-sm-8 col-6">
                            <select class="form-select" name="departement" id="departement" required>
                                
                            </select>
                        </div>
                    </div>
                    <div class="row my-1">
                        <label for="commune" class="col-sm-4 col-6 col-form-label" required>Commune :</label>
                        <div class="col-sm-8 col-6">
                            <select class="form-select" name="commune" id="commune" required>
                                
                            </select>
                        </div>
                    </div>
                    <div class="row my-1">
                        <label for="codeBureau" class="col-sm-4 col-6 col-form-label">Bureau de vote :</label>
                        <div class="col-sm-8 col-6">
                            <input type="text" name="codeBureau" class="form-control" id="codeBureau" placeholder="bureau de vote" required>
                        </div>
                    </div>
                    <div class="row my-1">
                        <label for="votant" class="col-sm-4 col-6 col-form-label">Votant :</label>
                        <div class="col-sm-8 col-6">
                            <input type="number" name="votant" class="form-control" id="votant" placeholder="nombre de votant" required>
                        </div>
                    </div>
                    <div class="row my-1">
                        <label for="suffrageNul" class="col-sm-4 col-6 col-form-label">Bulletins nuls :</label>
                        <div class="col-sm-8 col-6">
                            <input type="number" name="suffrageNul" class="form-control" id="suffrageNul"  placeholder="bulletins nuls" required>
                        </div>
                    </div>
                    <div class="row my-1">
                        <label for="suffrageExprime" class="col-sm-4 col-6 col-form-label">Suffrage exprimé : </label>
                        <div class="col-sm-8 col-6">
                            <input type="number" name="suffrageExprime" class="form-control" id="suffrageExprime"  placeholder="suffrage exprimé" required>
                        </div>
                    </div>
                    <div class="row my-1">
                        <label for="voteOui" class="col-sm-4 col-6 col-form-label">Vote oui : </label>
                        <div class="col-sm-8 col-6">  
                            <input type="number" name="voteOui" class="form-control" id="voteOui" placeholder="vote oui" required>
                        </div>
                    </div>
                    <div class="row">
                        <label for="voteNon" class="col-sm-4 col-6 col-form-label">Vote non : </label>
                        <div class="col-sm-8 col-6">
                            <input type="number" name="voteNon" class="form-control" id="voteNon" placeholder="vote non" required>
                        </div>
                    </div>
                    <input type="hidden" name="idPv" value={{pv.id}}>
                    <input type="hidden" name="agent" id="agent">
                    <div class="row mb-3"> 
                        <label for="submit" class="col-sm-4 col-6 col-form-label"></label>
                        <div class="col-sm-8 col-6">
                            <input type="submit" name="submit" id="submit" value="Soumettre" class="btn w-100 text-white mt-3 mb-4" style="background-color : #FF6002">
                        </div>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    function chargerProvince(data) {
        var $provinceSelect = $('#province');
        var jsonData = JSON.parse(data);
        for( let i = 0; i<jsonData.length;i++)
        {
            var option = $('<option>', {
                value : jsonData[i].id,
                text : jsonData[i].libelle
            });

            $provinceSelect.append(option);
        }
    }

    function chargerDepartement(data){
        $.post("{{path("get_dept")}}",{id:data, }, function(data){
                var $depSelect = $('#departement');
                $depSelect.empty();
                var jsonData = JSON.parse(data);
                var option1 = $('<option>', {
                    value :"",
                    text : null
            });
            $depSelect.append(option1);
            for( let i = 0; i<jsonData.length;i++)
            {
                var option = $('<option>', {
                    value : jsonData[i].id,
                    text : jsonData[i].libelle
                });

                $depSelect.append(option);
            }
        });
    }

    function chargerCommune(data){
        $.post("{{path("get_com")}}",{id:data, },function(data){
            var $comSelect = $('#commune');
            $comSelect.empty();
            var jsonData = JSON.parse(data);
            var option1 = $('<option>', {
                value :"",
                text : null
            });
            $comSelect.append(option1);
            for( let i = 0; i<jsonData.length;i++)
            {
                var option = $('<option>', {
                    value : jsonData[i].id,
                    text : jsonData[i].libelle
                });

                $comSelect.append(option);
            }
        });
    }

    $(document).ready(function(){
        $.support.cors = true; 
        $.get("https://ocel-tchad.org/provinces",function(data){
            chargerProvince(data);
        });
        $("#province").change(function(e){
            $('#departement').empty();
            $('#commune').empty();
            chargerDepartement(e.target.value); 
        });
         $("#departement").change(function(e){
            $('#commune').empty();
            chargerCommune(e.target.value); 
        });
        $("#agent").val(navigator.userAgent);
    });
</script>
{% endblock %}
