{% extends 'admin.html.twig' %}

{% block title %}Superviseur{% endblock %}

{% block body %}
<div class="container my-3">
    {% for d in datas %}
        <div class="row border my-3 shadow">
            <div class="col-12 text-center p-3" style="background-color: #C0C0C0">
                Nombre d'occurence trouvé (<span class="fw-bold">{{d.total}}</span>)
            </div>
            <div class="col-6 border p-0">
                {% if d.element.procesVerbal != "null"  %}
                    <img src="{{asset("/fichier/"~ d.element.procesVerbal)}}" alt="" class="img-fluid w-100 h-100">
                {% else %}
                    <img src="{{asset("/images/faker450x300.png")}}" alt="" class="img-fluid w-100 h-100">
                {% endif %}
            </div>
            <div class="col-6 border p-5">
                <div class="row my-0">
                    <div class="col-6">Nombre de votant :
                    </div>
                    <div class="col-6">{{d.element.votant}}</div>
                </div>
                <hr>
                <div class="row my-0">
                    <div class="col-6">Suffrage exprimé :
                    </div>
                    <div class="col-6">{{d.element.suffrageExprime}}</div>
                </div>
                <hr>
                <div class="row my-0">
                    <div class="col-6">Bulletin nul :</div>
                    <div class="col-6">{{d.element.suffrageNul}}</div>
                </div>
                <hr>
                <div class="row my-0">
                    <div class="col-6">Vote oui :
                    </div>
                    <div class="col-6">{{d.element.voteOui}}</div>
                </div>
                <hr>
                <div class="row my-0">
                    <div class="col-6">Vote non :
                    </div>
                    <div class="col-6">{{d.element.voteNon}}</div>
                </div>
                <hr>
                <div class="row my-0 px-3">
                    <a href="{{path("consolider",{'id' :d.element.id})}}" class="btn btn-lg btn-primary">Consolider</a>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="row">
        {#<div class="col-md-6 col-12 border border-2 p-0">
            <img src="{{asset("/fichier/"~ pv.procesVerbal)}}" alt="faker" class="img-fluid w-100 h-100">
        </div>
        <div class="col-md-6 col-12 border border-2 p-3">
            <div class="m-0 text-decoration-underline p-0 text-center">
                ID : <span class="fw-bold">{{pv.codeKobo}}</span>
            </div>
            {{form_start(form)}}
                {{form_widget(form)}}        
            {{form_end(form)}}
        </div> {#}
    </div>
</div>
{% endblock %}