{% extends 'admin.html.twig' %}

{% block title %}Superviseur{% endblock %}

{% block body %}
<div class="container-fluid mt-3">
   <div class="row" style="">
        <div class="col-lg-6 col-12 px-3" style="">
            <img src="/fichier/{{pv.imagePv}}" alt="image pv" class="img-fluid rounded shadow-lg my-2" style="height:500px; width: 100%">
        </div>
        <div class="col-lg-6  col-12" style="">
            <div class="pt-4 border rounded shadow-lg p-3  text-white"  style="height:500px;background-color : #0F3170;">
                <form action="{{path("supValider")}}" method="POST" id="monForm">
                    <div class="row my-1">
                        <label for="province" class="col-sm-4 col-6 col-form-label">Province :
                        </label>
                        <div class="col-sm-8 col-6">
                            <select class="form-select" name="province" id="province" required>
                                <option value="{{pv.commune.departement.province.id}}" selected> {{pv.commune.departement.province.libelle}}</option>
                            </select>
                        </div>

                    </div>
                    <div class="row my-1">
                        <label for="departement" class="col-sm-4 col-6 col-form-label">Departement : </label>
                        <div class="col-sm-8 col-6">
                            <select class="form-select" name="departement" id="departement" required>
                                <option value="{{pv.commune.departement.id}}" selected> {{pv.commune.departement.libelle}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-1">
                        <label for="commune" class="col-sm-4 col-6 col-form-label">Commune :</label>
                        <div class="col-sm-8 col-6">
                            <select class="form-select" name="commune" id="commune" required>
                                <option value="{{pv.commune.id}}" selected> {{pv.commune.libelle}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-1">
                        <label for="codeBureau" class="col-sm-4 col-6 col-form-label">Bureau de vote :</label>
                        <div class="col-sm-8 col-6">
                            <input type="text" name="codeBureau" class="form-control" id="codeBureau" value="{{pv.libelleBureauVote}}" required>
                        </div>
                    </div>
                    <div class="row my-1">
                        <label for="numeroPv" class="col-sm-4 col-6 col-form-label">Numero PV :</label>
                        <div class="col-sm-8 col-6">
                            <input type="text" name="numeroPv" class="form-control" id="numeroPv" value="{{pv.codeBureau}}" required>
                        </div>
                    </div>
                    <div class="row my-1">
                        <label for="votant" class="col-sm-4 col-6 col-form-label">Votant :</label>
                        <div class="col-sm-8 col-6">
                            <input type="number" name="votant" class="form-control" id="votant" value="{{pv.votant}}" required>
                        </div>
                    </div>
                    <div class="row my-1">
                        <label for="suffrageNul" class="col-sm-4 col-6 col-form-label">Bulletins nuls :</label>
                        <div class="col-sm-8 col-6">
                            <input type="number" name="suffrageNul" class="form-control" id="suffrageNul"  value="{{pv.suffrageNul}}" required>
                        </div>
                    </div>
                    <div class="row my-1">
                        <label for="suffrageExprime" class="col-sm-4 col-6 col-form-label">Suffrage exprimé : </label>
                        <div class="col-sm-8 col-6">
                            <input type="number" name="suffrageExprime" class="form-control" id="suffrageExprime" value="{{pv.suffrageExprime}}" required>
                        </div>
                    </div>
                    <div class="row my-1">
                        <label for="voteOui" class="col-sm-4 col-6 col-form-label">Vote oui : </label>
                        <div class="col-sm-8 col-6">  
                            <input type="number" name="voteOui" class="form-control" id="voteOui" value="{{pv.voteOui}}" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="voteNon" class="col-sm-4 col-6 col-form-label">Vote non : </label>
                        <div class="col-sm-8 col-6">
                            <input type="number" name="voteNon" class="form-control" id="voteNon" value="{{pv.voteNon}}" required>
                        </div>
                    </div>
                    <input type="hidden" name="idPv" id="idPv" value={{pv.id}}>
                    <input type="hidden" name="agent" id="agent">
                    <div class="d-flex">
                        <label for="submit" class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8 col-12 d-flex px-1 mb-3"> 
                            <a href="{{path("invaliderPV",{'id':pv.id})}}" id="rejeter" class="flex-fill btn btn-danger me-1">Rejet (PV Invalide)</a>
                            <input type="submit" name="submit" id="valider" value="Valider" class="flex-fill btn btn-success text-white ms-1" style="">
                        </div>
                    </div> 
                </form>
            </div>
        </div>
   </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    function chargerProvince(data) {
        var $provinceSelect = $('#province');
        var jsonData = JSON.parse(data);
        for( let i = 0; i<jsonData.length;i++)
        {
            if($('#province').val() != jsonData[i].id){
                var option = $('<option>', {
                    value : jsonData[i].id,
                    text : jsonData[i].libelle
                });
                $provinceSelect.append(option);
            }  
        }
    }

    function chargerDepartement(data){
        $.post("{{path("get_dept")}}",{id:data, },function(data){
            var $depSelect = $('#departement');
            var jsonData = JSON.parse(data);
            for( let i = 0; i<jsonData.length;i++)
            {
                if($('#departement').val() != jsonData[i].id){
                    var option = $('<option>', {
                        value : jsonData[i].id,
                        text : jsonData[i].libelle
                    });
                    $depSelect.append(option);
                }
            }
        });
    }

    function chargerCommune(data){
        $.post("{{path("get_com")}}",{id:data, },function(data){
            var $comSelect = $('#commune');
            var jsonData = JSON.parse(data);
            for( let i = 0; i<jsonData.length;i++)
            {
                if($('#commune').val() != jsonData[i].id){
                    var option = $('<option>', {
                        value : jsonData[i].id,
                        text : jsonData[i].libelle
                    });
                }
                $comSelect.append(option);
            }
        });
    }
    $(document).ready(function(){
        $.support.cors = true; 
        $.get("https://ocel-tchad.org/provinces", function(data){ 
           chargerProvince(data);
           chargerDepartement($('#province').val());
           chargerCommune($('#departement').val())
        });
        $("#province").change(function(e){
            $('#departement').empty();
            $('#commune').empty();
            chargerDepartement(e.target.value); 
        });
        $("#departement").change(function(e){
            $('#commune').empty();
            chargerCommune(e.target.value); 
        });
        $("#agent").val(navigator.userAgent);
    });
</script>
{% endblock %}