{% extends 'admin.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

<section class="container">
    <div class="align-content-center table-responsive-sm ">
        <p class="text-center text-decoration-underline h3 fw-bold mb-5">Données soumis par les observateurs</p>
        <table class="table table-striped" id="tableRaw">
            <thead>
                <tr>
                    <th>IDPV</th>
                    <th>PROVINCE</th>
                    <th>DEPARTEMENT</th>
                    <th>COMMUNE</th>
                    <th>CODE BV</th>
                    <th>VOTANT</th>
                    <th>SUFFRAGE EXP</th>
                    <th>NULL</th>
                    <th>OUI</th>
                    <th>NON</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for data in datas %}
                    <tr>
                        <td>{{data.codeKobo}}</td>
                        <td>{{data.province}}</td>
                        <td>{{data.departement}}</td>
                        <td>{{data.commune}}</td>
                        <td>{{data.bureauVote}}</td>
                        <td>{{data.nombreVotant}}</td>
                        <td>{{data.suffrageExprime}}</td>
                        <td>{{data.bulletinNuls}}</td>
                        <td>{{data.voteOui}}</td>
                        <td>{{data.voteNon}}</td>
                        <td>
                            <a href="{{path("check",{'id':data.id})}}" class="btn btn-success">Verifier</a>
                        </td>
                    </tr>
                {% endfor %}
               {#} <tr>
                    <td>1</td>
                    <td>10125</td>
                    <td>01/01/2023 16:55</td>
                    <td>Commune 1</td>
                    <td>BV0001</td>
                    <td>1000</td>
                    <td>8000</td>
                    <td>100</td>
                    <td>400</td>
                    <td>300</td>
                    <td>
                        <a href="{{path("check")}}" class="btn btn-success">Verifier</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>10125</td>
                    <td>01/01/2023 16:55</td>
                    <td>Commune 1</td>
                    <td>BV0001</td>
                    <td>1000</td>
                    <td>8000</td>
                    <td>100</td>
                    <td>400</td>
                    <td>300</td>
                    <td>
                        <a href="#" class="btn btn-success">Verifier</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>10125</td>
                    <td>01/01/2023 16:55</td>
                    <td>Commune 1</td>
                    <td>BV0001</td>
                    <td>1000</td>
                    <td>8000</td>
                    <td>100</td>
                    <td>400</td>
                    <td>300</td>
                    <td>
                        <a href="#" class="btn btn-success">Verifier</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>10125</td>
                    <td>01/01/2023 16:55</td>
                    <td>Commune 1</td>
                    <td>BV0001</td>
                    <td>1000</td>
                    <td>8000</td>
                    <td>100</td>
                    <td>400</td>
                    <td>300</td>
                    <td>
                        <a href="#" class="btn btn-success">Verifier</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>10125</td>
                    <td>01/01/2023 16:55</td>
                    <td>Commune 1</td>
                    <td>BV0001</td>
                    <td>1000</td>
                    <td>8000</td>
                    <td>100</td>
                    <td>400</td>
                    <td>300</td>
                    <td>
                        <a href="#" class="btn btn-success">Verifier</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>10125</td>
                    <td>01/01/2023 16:55</td>
                    <td>Commune 1</td>
                    <td>BV0001</td>
                    <td>1000</td>
                    <td>8000</td>
                    <td>100</td>
                    <td>400</td>
                    <td>300</td>
                    <td>
                        <a href="#" class="btn btn-success">Verifier</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>10125</td>
                    <td>01/01/2023 16:55</td>
                    <td>Commune 1</td>
                    <td>BV0001</td>
                    <td>1000</td>
                    <td>8000</td>
                    <td>100</td>
                    <td>400</td>
                    <td>300</td>
                    <td>
                        <a href="#" class="btn btn-success">Verifier</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>10125</td>
                    <td>01/01/2023 16:55</td>
                    <td>Commune 1</td>
                    <td>BV0001</td>
                    <td>1000</td>
                    <td>8000</td>
                    <td>100</td>
                    <td>400</td>
                    <td>300</td>
                    <td>
                        <a href="#" class="btn btn-success">Verifier</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>10125</td>
                    <td>01/01/2023 16:55</td>
                    <td>Commune 1</td>
                    <td>BV0001</td>
                    <td>1000</td>
                    <td>8000</td>
                    <td>100</td>
                    <td>400</td>
                    <td>300</td>
                    <td>
                        <a href="#" class="btn btn-success">Verifier</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>10125</td>
                    <td>01/01/2023 16:55</td>
                    <td>Commune 1</td>
                    <td>BV0001</td>
                    <td>1000</td>
                    <td>8000</td>
                    <td>100</td>
                    <td>400</td>
                    <td>300</td>
                    <td>
                        <a href="#" class="btn btn-success">Verifier</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>10125</td>
                    <td>01/01/2023 16:55</td>
                    <td>Commune 1</td>
                    <td>BV0001</td>
                    <td>1000</td>
                    <td>8000</td>
                    <td>100</td>
                    <td>400</td>
                    <td>300</td>
                    <td>
                        <a href="#" class="btn btn-success">Verifier</a>
                    </td>
                </tr>{#}
            </tbody>
        </table>
    </div>  
</section>
<script>
	let table = new DataTable('#tableRaw', {
    // config options...
    });
    // show div
    const showLabelDiv = document.querySelector(".dataTables_length");
    var showLabel = showLabelDiv.querySelector("label");
    var select = showLabelDiv.querySelector("select");
    select.classList.add("mx-2");
    select.style.width = '75px';
    showLabel.classList.add("d-flex");
    showLabelDiv.parentNode.classList.add("my-4");
    // filter div
    const FilterDiv = document.querySelector(".dataTables_filter");
    var filterLabel = FilterDiv.querySelector("label");
    var input = FilterDiv.querySelector("input");
    filterLabel.classList.add("d-flex");
    input.classList.add("mx-1");
</script>


{% endblock %}
