{% extends 'admin.html.twig' %}

{% block title %}OPERATEUR{% endblock %}

{% block body %}

<section class="mx-2 shadow-lg rounded px-3 mt-3">
    <p class="text-center text-decoration-underline h3 fw-bold">SAISIE DES DONNEES</p>
    <div class="table-responsive">
        <table class="table table-striped mx-auto" id="tableRaw">
            <thead>
                <tr>
                    <th class="text-center">CODE</th>
                    <th class="text-center">DATE SOUMISSION</th>
                    <th class="text-center">SOUMIS PAR</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                {% for data in datas %}
                    <tr>
                        <td class="p-sm-0 p-1 m-0 text-center">
                            {% if data.codeKobo == null %}
                                {{"null"}}
                            {% else  %}
                                {{data.codeKobo}}
                            {% endif %}
                        </td>
                        <td class="p-sm-0 p-1 m-0 text-center">{{data.dateSubmit | date("d-m-Y")}}</td>
                        <td class="p-sm-0 p-1 m-0 text-center">
                            {% if data.submitter == null %}
                                {{"anonyme"}}
                            {% else  %}
                                {{data.submitter}}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{path("check",{'id':data.id})}}" class=" text-decoration-none d-block rounded px-1 text-white float-end" style="background-color : #0F3170">Détails</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
