{% extends 'admin.html.twig' %}

{% block title %}Superviseur{% endblock %}

{% block body %}
<section class="container rounded shadow">
        <p class="text-center h3 text-decoration-underline mb-3">VALIDATION DES RESULTATS</p>
        <table class="table table-striped" id="myConso">
            <thead>
                <tr>
                    <th>CODE BUREAU VOTE</th>
                    <th>COMMUNE</th>
                    <th>VOTANT</th>
                    <th>SUFFRAGE EXPRIME</th>
                    <th>BULLETIN NUL</th>
                    <th>VOTE OUI</th>
                    <th>VOTE NON</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for bv in bvs %}
                    <tr>
                        <td>{{bv.codeBureau}}</td>
                        <td>{{bv.commune.libelle}}</td>
                        <td>{{bv.votant}}</td>
                        <td>{{bv.suffrageExprime}}</td>
                        <td>{{bv.suffrageNul}}</td>
                        <td>{{bv.voteOui}}</td>
                        <td>{{bv.voteNon}}</td>
                        <td><a href="{{path("detailsPV",{'id': bv.id })}}" class="btn text-white" style="background-color : #0F3170">Détails</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</section>
    <script>
        let table = new DataTable('#myConso', {
        // config options...
        }); 
        // show div
        const showLabelDiv = document.querySelector(".dataTables_length");
        var showLabel = showLabelDiv.querySelector("label");
        var select = showLabelDiv.querySelector("select");
        select.classList.add("mx-2");
        select.style.width = '75px';
        showLabel.classList.add("d-flex");
        showLabelDiv.parentNode.classList.add("my-4");
        // filter div
        const FilterDiv = document.querySelector(".dataTables_filter");
        FilterDiv.classList.add("d-none");
        var filterLabel = FilterDiv.querySelector("label");
        var input = FilterDiv.querySelector("input");
        filterLabel.classList.add("d-flex");
        input.classList.add("mx-1");
    </script>
{% endblock %}