{% extends 'admin.html.twig' %}

{% block title %}Superviseur{% endblock %}

{% block body %}
<section class="px-3 mx-2 rounded shadow my-3">
    <div class="table-responsive">
   
        <p class="text-center h3 text-decoration-underline mb-3">VALIDATION DES DONNEES</p>
        <table class="table table-striped" id="myConso">
            <thead>
                <tr>
                    <th>NUMERO PV</th>
                    <th>BUREAU VOTE</th>
                    <th>COMMUNE</th>
                    <th>VOTANT</th>
                    <th>SUFFRAGE EXPRIME</th>
                    <th>BULLETIN NUL</th>
                    <th>VOTE OUI</th>
                    <th>VOTE NON</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for bv in bvs %}
                    <tr>
                        <td>{{bv.codeBureau}}</td>
                        <td>{{bv.libelleBureauVote}}</td>
                        <td>{{bv.commune.libelle}}</td>
                        <td>{{bv.votant}}</td>
                        <td>{{bv.suffrageExprime}}</td>
                        <td>{{bv.suffrageNul}}</td>
                        <td>{{bv.voteOui}}</td>
                        <td>{{bv.voteNon}}</td>
                        <td><a href="{{path("detailsPV",{'id': bv.id })}}" class="btn text-white" style="background-color : #0F3170">Détails</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}