{% extends 'admin.html.twig' %}

{% block title %}Province{% endblock %}

{% block body %}
<div class="container mt-3">
    <div class="table-responsive mx-auto">
        <a href="{{path("add_province")}}" class="btn btn-primary btn-lg">Ajouter</a>
        <p class="text-center h3 fw-bold text-decoration-underline">liste des provinces</p>
        <table class="table table-striped" id="provTable">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>libelle</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% set i = 1 %}
                {% for province in provinces %}
                    <tr>
                        <td>{{i}}</td>
                        <td>{{province.libelle}}</td>
                        
                        <td><a href="{{path("update_province",{'id':province.id})}}" class="btn btn-warning">modifier</a></td>
                        <td><a href="{{path("del_province",{'id':province.id})}}" class="btn btn-danger">Supprimer</a></td>
                    </tr>
                    {% set i = i + 1 %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
        let table = new DataTable('#provTable', {
        // config options...
        }); 
        // show div
        const showLabelDiv = document.querySelector(".dataTables_length");
        var showLabel = showLabelDiv.querySelector("label");
        var select = showLabelDiv.querySelector("select");
        select.classList.add("mx-2");
        select.style.width = '75px';
        showLabel.classList.add("d-flex");
        showLabelDiv.parentNode.classList.add("my-4");
        // filter div
        const FilterDiv = document.querySelector(".dataTables_filter");
        var filterLabel = FilterDiv.querySelector("label");
        var input = FilterDiv.querySelector("input");
        filterLabel.classList.add("d-flex");
        input.classList.add("mx-1");
</script>
{% endblock %}
