{% extends 'base.html.twig' %}

{% block title %}Resultat{% endblock %}

{% block body %}
<div class="container-fluid my-3">
    <p class="text-center h3 fw-bold text-decoration-underline">Résultat Departement xxx</p>
</div>
<div class="container">
    <div class="row g-3">
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-header h3 text-center">commune 1</div>
                <div class="card-body  p-3">
                    <div class="d-flex">
                        <div class="flex-fill">Nombre de votant :
                        </div>
                        <div class="flex-fill">{{"10000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Suffrage exprimé :
                        </div>
                        <div class="flex-fill">{{"8000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Bulletin nul :
                        </div>
                        <div class="flex-fill">{{"1000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Vote oui :
                        </div>
                        <div class="flex-fill">{{"4000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Vote non :
                        </div>
                        <div class="flex-fill">{{"3000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="">Pourcentage :
                        </div>
                        <div class="flex-grow-1">
                            <div class="progress" style="height : 40px">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">oui=55%</div>
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">non=45%</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="">Depouillement :
                        </div>
                        <div class="flex-grow-1">
                            <div class="progress" style="height : 40px">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-center mb-2">
                        <a href="{{path("commune")}}" class="btn btn-success">Voir plus</a>
                    </div>
                </div>
           </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-header h3 text-center">commune 1</div>
                <div class="card-body  p-3">
                    <div class="d-flex">
                        <div class="flex-fill">Nombre de votant :
                        </div>
                        <div class="flex-fill">{{"10000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Suffrage exprimé :
                        </div>
                        <div class="flex-fill">{{"8000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Bulletin nul :
                        </div>
                        <div class="flex-fill">{{"1000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Vote oui :
                        </div>
                        <div class="flex-fill">{{"4000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Vote non :
                        </div>
                        <div class="flex-fill">{{"3000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="">Pourcentage :
                        </div>
                        <div class="flex-grow-1">
                            <div class="progress" style="height : 40px">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">oui=55%</div>
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">non=45%</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="">Depouillement :
                        </div>
                        <div class="flex-grow-1">
                            <div class="progress" style="height : 40px">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-center mb-2">
                        <a href="{{path("province")}}" class="btn btn-success">Voir plus</a>
                    </div>
                </div>
           </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-header h3 text-center">commune 1</div>
                <div class="card-body  p-3">
                    <div class="d-flex">
                        <div class="flex-fill">Nombre de votant :
                        </div>
                        <div class="flex-fill">{{"10000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Suffrage exprimé :
                        </div>
                        <div class="flex-fill">{{"8000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Bulletin nul :
                        </div>
                        <div class="flex-fill">{{"1000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Vote oui :
                        </div>
                        <div class="flex-fill">{{"4000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Vote non :
                        </div>
                        <div class="flex-fill">{{"3000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="">Pourcentage :
                        </div>
                        <div class="flex-grow-1">
                            <div class="progress" style="height : 40px">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">oui=55%</div>
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">non=45%</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="">Depouillement :
                        </div>
                        <div class="flex-grow-1">
                            <div class="progress" style="height : 40px">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-center mb-2">
                        <a href="{{path("province")}}" class="btn btn-success">Voir plus</a>
                    </div>
                </div>
           </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-header h3 text-center">commune 1</div>
                <div class="card-body  p-3">
                    <div class="d-flex">
                        <div class="flex-fill">Nombre de votant :
                        </div>
                        <div class="flex-fill">{{"10000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Suffrage exprimé :
                        </div>
                        <div class="flex-fill">{{"8000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Bulletin nul :
                        </div>
                        <div class="flex-fill">{{"1000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Vote oui :
                        </div>
                        <div class="flex-fill">{{"4000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Vote non :
                        </div>
                        <div class="flex-fill">{{"3000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="">Pourcentage :
                        </div>
                        <div class="flex-grow-1">
                            <div class="progress" style="height : 40px">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">oui=55%</div>
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">non=45%</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="">Depouillement :
                        </div>
                        <div class="flex-grow-1">
                            <div class="progress" style="height : 40px">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-center mb-2">
                        <a href="{{path("province")}}" class="btn btn-success">Voir plus</a>
                    </div>
                </div>
           </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-header h3 text-center">commune 1</div>
                <div class="card-body  p-3">
                    <div class="d-flex">
                        <div class="flex-fill">Nombre de votant :
                        </div>
                        <div class="flex-fill">{{"10000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Suffrage exprimé :
                        </div>
                        <div class="flex-fill">{{"8000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Bulletin nul :
                        </div>
                        <div class="flex-fill">{{"1000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Vote oui :
                        </div>
                        <div class="flex-fill">{{"4000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Vote non :
                        </div>
                        <div class="flex-fill">{{"3000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="">Pourcentage :
                        </div>
                        <div class="flex-grow-1">
                            <div class="progress" style="height : 40px">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">oui=55%</div>
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">non=45%</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="">Depouillement :
                        </div>
                        <div class="flex-grow-1">
                            <div class="progress" style="height : 40px">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-center mb-2">
                        <a href="{{path("province")}}" class="btn btn-success">Voir plus</a>
                    </div>
                </div>
           </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-header h3 text-center">commune 1</div>
                <div class="card-body  p-3">
                    <div class="d-flex">
                        <div class="flex-fill">Nombre de votant :
                        </div>
                        <div class="flex-fill">{{"10000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Suffrage exprimé :
                        </div>
                        <div class="flex-fill">{{"8000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Bulletin nul :
                        </div>
                        <div class="flex-fill">{{"1000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Vote oui :
                        </div>
                        <div class="flex-fill">{{"4000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Vote non :
                        </div>
                        <div class="flex-fill">{{"3000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="">Pourcentage :
                        </div>
                        <div class="flex-grow-1">
                            <div class="progress" style="height : 40px">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">oui=55%</div>
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">non=45%</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="">Depouillement :
                        </div>
                        <div class="flex-grow-1">
                            <div class="progress" style="height : 40px">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-center mb-2">
                        <a href="{{path("province")}}" class="btn btn-success">Voir plus</a>
                    </div>
                </div>
           </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-header h3 text-center">commune 1</div>
                <div class="card-body  p-3">
                    <div class="d-flex">
                        <div class="flex-fill">Nombre de votant :
                        </div>
                        <div class="flex-fill">{{"10000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Suffrage exprimé :
                        </div>
                        <div class="flex-fill">{{"8000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Bulletin nul :
                        </div>
                        <div class="flex-fill">{{"1000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Vote oui :
                        </div>
                        <div class="flex-fill">{{"4000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Vote non :
                        </div>
                        <div class="flex-fill">{{"3000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="">Pourcentage :
                        </div>
                        <div class="flex-grow-1">
                            <div class="progress" style="height : 40px">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">oui=55%</div>
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">non=45%</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="">Depouillement :
                        </div>
                        <div class="flex-grow-1">
                            <div class="progress" style="height : 40px">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-center mb-2">
                        <a href="{{path("province")}}" class="btn btn-success">Voir plus</a>
                    </div>
                </div>
           </div>
        </div>
       <div class="col-12 col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-header h3 text-center">commune 1</div>
                <div class="card-body  p-3">
                    <div class="d-flex">
                        <div class="flex-fill">Nombre de votant :
                        </div>
                        <div class="flex-fill">{{"10000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Suffrage exprimé :
                        </div>
                        <div class="flex-fill">{{"8000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Bulletin nul :
                        </div>
                        <div class="flex-fill">{{"1000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Vote oui :
                        </div>
                        <div class="flex-fill">{{"4000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Vote non :
                        </div>
                        <div class="flex-fill">{{"3000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="">Pourcentage :
                        </div>
                        <div class="flex-grow-1">
                            <div class="progress" style="height : 40px">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">oui=55%</div>
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">non=45%</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="">Depouillement :
                        </div>
                        <div class="flex-grow-1">
                            <div class="progress" style="height : 40px">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-center mb-2">
                        <a href="{{path("province")}}" class="btn btn-success">Voir plus</a>
                    </div>
                </div>
           </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-header h3 text-center">commune 1</div>
                <div class="card-body  p-3">
                    <div class="d-flex">
                        <div class="flex-fill">Nombre de votant :
                        </div>
                        <div class="flex-fill">{{"10000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Suffrage exprimé :
                        </div>
                        <div class="flex-fill">{{"8000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Bulletin nul :
                        </div>
                        <div class="flex-fill">{{"1000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Vote oui :
                        </div>
                        <div class="flex-fill">{{"4000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Vote non :
                        </div>
                        <div class="flex-fill">{{"3000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="">Pourcentage :
                        </div>
                        <div class="flex-grow-1">
                            <div class="progress" style="height : 40px">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">oui=55%</div>
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">non=45%</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="">Depouillement :
                        </div>
                        <div class="flex-grow-1">
                            <div class="progress" style="height : 40px">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-center mb-2">
                        <a href="{{path("province")}}" class="btn btn-success">Voir plus</a>
                    </div>
                </div>
           </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-header h3 text-center">commune 1</div>
                <div class="card-body  p-3">
                    <div class="d-flex">
                        <div class="flex-fill">Nombre de votant :
                        </div>
                        <div class="flex-fill">{{"10000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Suffrage exprimé :
                        </div>
                        <div class="flex-fill">{{"8000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Bulletin nul :
                        </div>
                        <div class="flex-fill">{{"1000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Vote oui :
                        </div>
                        <div class="flex-fill">{{"4000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-fill">Vote non :
                        </div>
                        <div class="flex-fill">{{"3000"}}</div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="">Pourcentage :
                        </div>
                        <div class="flex-grow-1">
                            <div class="progress" style="height : 40px">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">oui=55%</div>
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">non=45%</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="">Depouillement :
                        </div>
                        <div class="flex-grow-1">
                            <div class="progress" style="height : 40px">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-center mb-2">
                        <a href="{{path("province")}}" class="btn btn-success">Voir plus</a>
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>
{% endblock %}
