{% extends 'admin.html.twig' %}

{% block title %}Resultat{% endblock %}

{% block body %}
<section class="container">
    <div class="border border-2 rounded rounded-2 shadow my-3">
      <div class="card">
            <div class="card-header h3 text-center">
                <p class="text-center h3 fw-bold">RESULTAT GLOBAL DES ELECTIONS</p>
            </div>
            <div class="card-body  p-3">
                <div class="border border-2 rounded rounded-2 mb-2 p-2">
                    <div class="progress" style="height : 40px">
                        {% if national.suffrageExprime != 0  %}
                            <div class="progress-bar bg-primary" role="progressbar" style="width: {{ (national.voteOui / national.suffrageExprime )  * 100 }}%" aria-valuenow="{{ ( national.voteOui /national.suffrageExprime ) * 100 }}" aria-valuemin="0" aria-valuemax="100"><span class="fw-bold h4">oui={{( ( national.voteOui / national.suffrageExprime  )  * 100 ) | number_format(2, ',', '.') }}%</span></div>
                            <div class="progress-bar bg-danger" role="progressbar" style="width: {{ ( national.voteNon / national.suffrageExprime )  * 100 }}%" aria-valuenow="{{ ( national.voteNon / national.suffrageExprime ) * 100 }}" aria-valuemin="0" aria-valuemax="100"><span class="fw-bold h4">non={{( ( national.voteNon / national.suffrageExprime )  * 100 ) | number_format(2, ',', '.') }}%</span></div>
                        {% else %}
                            <div class="progress-bar bg-light" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">oui=0%</div>
                            <div class="progress-bar bg-light" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">non=0%</div>
                        {% endif %}
                    </div>               
                </div> 
                <div class="d-flex flex-column border border-2 rounded rounded-2 p-3 flex-sm-row">
                    <div class="container border-end">
                        <p class="my-0">
                            <span class="">Nombre de votant : </span>
                            <span class="mx-2">{{national.votant | number_format(0, ',', '.')}}</span>
                        </p>
                        <hr>
                        <p class="my-0">
                            <span class="">Suffrage exprimé : </span>
                            <span class="mx-2">{{national.suffrageExprime | number_format(0, ',', '.')}}</span>
                        </p>
                        <hr>
                        <p class="my-0">
                            <span class="">Bulletin nul : </span>
                            <span class="mx-2">{{national.suffrageNul | number_format(0, ',', '.')}}</span>
                        </p>
                        <hr>
                    </div>
                    <div class="container border-start">
                        <p class="my-0">
                            <span class="">Vote oui : </span>
                            <span class="mx-2">{{national.voteOui | number_format(0, ',', '.')}}</span>
                        </p>
                        <hr>
                        <p class="my-0">
                            <span class="">Vote non : </span>
                            <span class="mx-2">{{national.voteNon | number_format(0, ',', '.')}}</span>
                        </p>
                        <hr>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</section>
<section class="container">
    <div class="border border-2 rounded rounded-2 shadow my-3">
        <div id="carouselResultat" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% set i = 0 %}
                {% for item in province %}
                    {% if i == 0 %}
                        <div class="carousel-item active" data-bs-interval="5000">
                    {% else %}
                         <div class="carousel-item" data-bs-interval="5000">
                    {% endif %}
                        {% set i = i + 1 %}
                   
                        <div class="card">
                            <div class="card-header h3 text-center">
                                <p class="text-center h3 fw-bold">{{item.libelle}}</p>
                            </div>
                            <div class="border border-2 rounded rounded-2 m-3 p-2">
                                <div class="progress" style="height : 40px">
                                    {% if item.suffrageExprime != 0 %}
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: {{ ( item.voteOui / item.suffrageExprime)  * 100 }}%" aria-valuenow="{{ ( item.voteOui / item.suffrageExprime) * 100 }}" aria-valuemin="0" aria-valuemax="100"><span class="fw-bold h4">oui={{ ( ( item.voteOui / item.suffrageExprime)  * 100 ) | number_format(2, ',', '.') }}%</span></div>
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: {{ ( item.voteNon / item.suffrageExprime)  * 100 }}%" aria-valuenow="{{ ( item.voteNon / item.suffrageExprime) * 100 }}" aria-valuemin="0" aria-valuemax="100"><span class="fw-bold h4">non={{ ( ( item.voteNon / item.suffrageExprime)  * 100 ) | number_format(2, ',', '.') }}%</span></div>
                                    {% else %}
                                        <div class="progress-bar bg-light" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">oui=0%</div>
                                        <div class="progress-bar bg-light" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">non=0%</div>
                                    {% endif %}
                                </div>
                            </div> 
                            <div class="card-body  px-5">
                                <div class="d-flex flex-column p-3 mx-4 flex-sm-row border border-2 rounded-2">
                                    <div class="container border-end ">
                                        <p class="my-0">
                                            <span class="">Nombre de votant : </span>
                                            <span class="mx-2">{{item.votant | number_format(0, ',', '.')}}</span>
                                        </p>
                                        <hr>
                                        <p class="my-0">
                                            <span class="">Suffrage exprimé : </span>
                                            <span class="mx-2">{{item.suffrageExprime | number_format(0, ',', '.')}}</span>
                                        </p>
                                        <hr>
                                        <p class="my-0">
                                            <span class="">Bulletin nul : </span>
                                            <span class="mx-2">{{item.suffrageNul | number_format(0, ',', '.')}}</span>
                                        </p>
                                        <hr>
                                    </div>
                                    <div class="container border-start">
                                        <p class="my-0">
                                            <span class="">Vote oui : </span>
                                            <span class="mx-2">{{item.voteOui | number_format(0, ',', '.')}}</span>
                                        </p>
                                        <hr>
                                        <p class="my-0">
                                            <span class="">Vote non : </span>
                                            <span class="mx-2">{{item.voteNon | number_format(0, ',', '.')}}</span>
                                        </p>
                                        <hr>
                                    </div>
                                </div>
                                <div class="col-sm-2 mx-auto my-2 px-5"> 
                                    <a href="{{path("province",{'id': item.id})}}" class="btn btn-success">Voir plus</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" style="width:80px" type="button" data-bs-target="#carouselResultat" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" style="width:80px" type="button" data-bs-target="#carouselResultat" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section> 
{% endblock %}
