{% extends 'admin.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<section class="container mt-5 px-lg-5">
    <div class="table-responsive"> 
        <a href="{{path("add_user")}}" class="btn btn-primary">AJOUTER</a>
        <p class="text-center text-decoration-underline h3">
            LISTE DES UTILISATEURS
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Nom d'utilisateur</th>
                    <th>Role</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% set i = 1 %}
                {% for user in users %}
                    <tr>
                        <td>{{i}}</td>
                        <td>{{user.username}}</td>
                        <td>    
                            {{user.roles[0]}}
                        </td>
                        <td><a href="{{path("reset_password",{'id':user.id})}}" class="btn btn-warning float-end">Reset mot de passe</a></td>
                        <td><a href="{{path("bloquer_user",{'id':user.id})}}" class="btn btn-danger float-end">Bloquer</a></td>
                    </tr>
                    {% set i = i + 1 %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
